<h1>Add a definition for your $word.getName()</h1>

<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="form-group">
    <label for="def1">Add your definition here</label>
    <input id="def1" name="def1" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add!</button>
</form>
